    body {
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        line-height: 1;
        background-color: #F8EEE7;
    }
    
    .lead {
        font-size: 2rem;
    }
    /* adjusting the input size based on screen size*/
    
    @media screen and (max-width: 1200px) {
        .textarea {
            width: 620px;
        }
    }
    
    @media screen and (max-width: 978px) {
        .textarea {
            width: 460px;
        }
    }
    
    @media screen and (max-width: 765px) {
        .textarea {
            width: 375px;
        }
    }
    
    @media screen and (max-width: 467px) {
        .textarea {
            width: 300px;
        }
    }
    
    @media screen and (max-width: 376px) {
        .textarea {
            width: 250px;
        }
    }
    /*container background */
    
    .container {
        background-color: #F4DECB;
    }
    
    textarea {
        background: transparent;
        border: none;
        resize: none;
        color: #000000;
        border-left: 1px solid black;
        padding: 10px;
        width: 100%;
    }
    
    .jumbotron {
        text-align: center;
        background-color: #94618E;
        color: black;
        border-radius: 0;
        border-bottom: 10px solid black;
    }
    
    .description {
        white-space: pre-wrap;
    }
    
    .time-block {
        text-align: center;
        border-radius: 15px;
    }
    
    .row {
        white-space: pre-wrap;
        height: 80px;
        border-top: 1px solid white;
    }
    
    footer,
    .fixed-bottom {
        background-color: purple;
        text-align: center;
        color: white;
        font-family: 'Indie Flower', cursive;
    }
    
    .hour {
        background-color: #ffffff;
        color: #49274A;
        border-top: 2px dashed #49274A;
    }
    
    .past {
        background-color: #F8EEE7;
        color: #49274A;
    }
    
    .present {
        background-color: bisque;
        color: #49274A;
    }
    
    .future {
        background-color: #94618E;
        color: #49274A;
    }
    
    .saveBtn {
        border-left: 2px solid black;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: purple;
        color: white;
    }
    
    .saveBtn i:hover {
        font-size: 20px;
        transition: all .3s ease-in-out;
    }